/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* eventually I will comment everything below this comment and will import just what
I need. For now, I just wanna know how materialize works*/
@charset "UTF-8";

// Mixins
@import "materialize/components/prefixer";
@import "materialize/components/mixins";
@import "materialize/components/color";

// Variables;
@import "materialize/components/variables";

// Reset
@import "materialize/components/normalize";

// materialize/components
@import "materialize/components/global";
@import "materialize/components/icons-material-design";
@import "materialize/components/grid";
@import "materialize/components/navbar";
@import "materialize/components/roboto";
@import "materialize/components/typography";
@import "materialize/components/cards";
@import "materialize/components/toast";
@import "materialize/components/tabs";
@import "materialize/components/tooltip";
@import "materialize/components/buttons";
@import "materialize/components/dropdown";
@import "materialize/components/waves";
@import "materialize/components/modal";
@import "materialize/components/collapsible";
@import "materialize/components/materialbox";
@import "materialize/components/form";
@import "materialize/components/table_of_contents";
@import "materialize/components/sideNav";
@import "materialize/components/preloader";
@import "materialize/components/slider";
@import "materialize/components/date_picker/default.scss";
@import "materialize/components/date_picker/default.date.scss";
@import "materialize/components/date_picker/default.time.scss";


a {
	color: #793dad;
}



.container {
	max-width: 690px;
}

.container-2 {
	max-width: 800px;
}

.fieldsets {

}

.field {

}

.actions {

}

.receiver {
	/*Esto no funciona y hay que meterle manoooooo*/
	font-style: italic !important;
	margin-left: 80px;
}

.gift {
	text-align: center;
	margin : 20px;
	background-color: #ccc;
	width: 100px;
	height: 60px;
	display: inline-block;
}

.fix-size-img img{
	height: 100%;
}

.avatar {
display: block;
width: 50px;
height: 50px;
margin-left: 5px;
margin-right: 5px;
}