/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* eventually I will comment everything below this comment and will import just what
I need. For now, I just wanna know how materialize works*/
@charset "UTF-8";

// Mixins
@import "materialize/components/prefixer";
@import "materialize/components/mixins";

@import "materialize/components/color";
// Variables;
@import "materialize/components/variables";

// Reset
@import "materialize/components/normalize";

// materialize/components
@import "materialize/components/global";
@import "materialize/components/icons-material-design";
@import "materialize/components/grid";
@import "materialize/components/navbar";
@import "materialize/components/roboto";
@import "materialize/components/typography";
@import "materialize/components/cards";
@import "materialize/components/toast";
@import "materialize/components/tabs";
@import "materialize/components/tooltip";
@import "materialize/components/buttons";
@import "materialize/components/dropdown";
@import "materialize/components/waves";
@import "materialize/components/modal";
@import "materialize/components/collapsible";
@import "materialize/components/materialbox";
@import "materialize/components/form";
@import "materialize/components/table_of_contents";
@import "materialize/components/sideNav";
@import "materialize/components/preloader";
@import "materialize/components/slider";
@import "materialize/components/date_picker/default.scss";
@import "materialize/components/date_picker/default.date.scss";
@import "materialize/components/date_picker/default.time.scss";


a {
	color: #AF282D;
}

.active {
  color: #AF282D !important;
}

.textarea.materialize-textarea {
  border-bottom: 1px solid #AF282D !important;
  box-shadow: none !important;
}

body:before { 
  content: "";
  position: fixed;
  top: -10px;
  left: 0;
  width: 100%;
  height: 10px;
  z-index: 100;
  -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
  -moz-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
  box-shadow: 0px 0px 10px rgba(0,0,0,.8);
}


.container {
	padding-top: 20px;

}

.container-2 {
	max-width: 800px;

}

.fieldsets {

}

.field {

}

.actions {

}

.receiver {
	/*Esto no funciona y hay que meterle manoooooo*/
	font-style: italic !important;
	margin-left: 80px;
}

.gift {
	text-align: center;
	margin : 20px;
	background-color: #ccc;
	width: 100px;
	height: 60px;
	display: inline-block;
}

.fix-size-img img{
	height: 100%;
}

.avatar {
display: block;
width: 50px;
height: 50px;
margin-left: 5px;
margin-right: 5px;
}

.inline {
	display: inline;
}

.button {
	background-color: #AF282D !important;
}



.header {
	background-color: #BA3F3F;
	height: 100px;
	box-shadow: 2px 2px 2px #ccc;
	width:100%!important;
}

a .header {
	color: white !important;
}


.landing_page {
    background-color: #ccc !important;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

.footer {
  padding-top: 40px;
}

html {
	position: relative;
	min-height: 100%;
}

.clearfix {
  overflow: auto;
  zoom: 1;
}

a.disabled {
    pointer-events: none !important;
    cursor: default;
    color: #ccc !important;
}
.logo-div {
    width: 300px;
    margin: 10px auto;
}
.logo-login {
  width: 100%;
  text-align: center;
}


#bgvid {
position: fixed;
top: 50%;
left: 50%;
min-width: 100%;
min-height: 100%;
width: auto;
height: auto;
z-index: -100;
-webkit-transform: translateX(-50%) translateY(-50%);
transform: translateX(-50%) translateY(-50%);
background-size: cover;
}

.form-login {
  color: white;
}

h4 {
  margin-left: 40px;
  color: white !important;
}

