// Place all the styles related to the occasions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container-event {
	padding-top: 20px;
	margin-left: 40px;
}

.occasion-receiver {
	max-width: 550px;
	margin-left: 60px;
}

.friends-in-event {
	max-width: 500px;
	margin-left: 200px;
}

.select-friend {
	width: 800px !important;
	margin-left: 200px;
}

.article {
	float: left;
}

.aside {
	float: rigth;
}

.user-width {
	width: 500px !important;
	color: #37474f;
}

.current-events{
	width: 500px;
	margin-left: 200px;
}

.expired-events{
	color: #ccc;
	width: 500px;
	margin-left: 200px;
}

.buy-now {
	width: 600px;
	float: right;
}
.element-nav {
	padding-left: 20px;
}

.btn-event {
	color: white !important;
	align: right;

}