<div class="row">
    <div id="gifts-section">
        <div class="col s8">
            <div class="card medium">
                <div class="card-image">
                    <%= image_tag("gifty-default.png") %></span>
                </div>
                <div class="card-content">
                    <p>Select a gift for <%= @receiver.name %></p>
                </div>
                <div class="card-action">
                    <a id= "change_gift" href=<%= gifts_path(@occasion) %>>CHANGE</a>
                </div>
            </div>
        </div>